/* #region COMMON */

* {
    font-family: 'Gothic A1', sans-serif;
}

:root {
    --bg-primary: #1ABC9C;
    --bg-secondary: #2C3E50;
    --bg-footer: #3A546D;
}

img {
    max-width: 100%;
}

hr {
    min-height: 2px;
    opacity: 1;
}


/* #endregion COMMON */


/* #region HEADER */

.mc_navbar {
    background-color: var(--bg-secondary);
    justify-content: space-around;
}

.jumbotrone {
    background-color: var(--bg-primary);
}


/* #endregion HEADER */

.about {
    background-color: var(--bg-primary);
    margin: 2rem 0;
}


/* footer */

.top_footer {
    height: 150px;
    background-color: var(--bg-footer);
}

.bottom_footer {
    height: 50px;
    background-color: var(--bg-secondary);
}