/* Common */

* {
    font-family: 'Gothic A1', sans-serif;
}

:root {
    --bg-primary: #1ABC9C;
    --bg-secondary: #2C3E50;
    --bg-footer: #3A546D;
}

img {
    max-width: 100%;
}

hr {
    min-height: 2px;
    opacity: 1;
}


/* Utility */

.mc_fs_sm {
    font-size: 10px;
}

.px_6 {
    padding-left: 6rem;
    padding-right: 6rem;
}

.color_primary {
    color: var(--bg-primary);
}

.bg_mc_primary {
    background-color: var(--bg-primary);
}

.bg_mc_secondary {
    background-color: var(--bg-secondary);
}

.bg_mc_footer {
    background-color: var(--bg-footer);
}

.mc_invisible {
    display: none;
}

.mc_btn_color {
    color: lightgray;
}

.mc_filter_invert {
    filter: invert(0.5);
}


/* Header */

#mc_visible {
    padding: 0.25rem 0.5rem;
    color: grey;
    border: 1px solid lightgray;
}


/*Main */

.form-floating>.form-control {
    height: auto;
    padding: 0;
}


/* Footer */

.top_footer i {
    width: 2rem;
    height: 2rem;
}


/* Query */

@media screen and (max-width:576px) {
    .mc_invisible {
        display: block;
    }
    #mc_nav_invisible {
        display: none;
    }
    .px_6 {
        padding: 0;
    }
}