/* #region COMMON */

:root {
    --bg-primary: #1ABC9C;
    --bg-secondary: #2C3E50;
    --bg-cabin: #BA4B63;
    --bg-cake: #1EA4B6;
    --bg-circus: #140F0F;
    --bg-game: #1C83C1;
    --bg-safe: #0E38B5;
    --bg-submarine: #CCB2A3;
    --bg-footer: #3A546D;
    --primary-text-color: white;
}

img {
    max-width: 100%;
}

hr {
    min-height: 2px;
    opacity: 1;
}


/* #endregion COMMON */


/* #region HEADER */

.mc_navbar {
    background-color: var(--bg-secondary);
    justify-content: space-around;
    color: var(--primary-text-color);
}

.jumbotrone {
    background-color: var(--bg-primary);
}

.card {
    background-color: transparent;
    border: none;
}

.card img {
    height: 150px;
}


/* #endregion HEADER */

.about {
    background-color: var(--bg-primary);
    margin: 2rem 0;
}


/* footer */

.top_footer {
    height: 150px;
    background-color: var(--bg-footer);
}

.bottom_footer {
    height: 50px;
    background-color: var(--bg-secondary);
}